:root {
  --yellow__color: #f2eb0f;
  --blue__color: #37b6ff;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-shadow: 2px 2px 5px #000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

#file-list {
  list-style-type: none;
  max-height: 500px;
  overflow-y: auto;
  background-color: #292b2c;
  padding: 1rem;
  border-radius: 0.5rem;
}

#file-list li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.file-icon {
  width: 20px;
  height: flex;
  color: var(--blue__color);
  margin-right: 10px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease-out;
  cursor: pointer;
}

a:hover {
  color: var(--blue__color);
}

a:active {
  transform: scale(0.95);
}



